/* Mobile & tablet  */
@media (max-width:1023px) {
    :root{
        --header-height:68px;
        --navbar-height:0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    #header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .header__cart-list {
        display: none;
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before {
        display: none;
    }
    #app__container{
        margin-top:calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar{
        display: flex;
    }
    #app__container {
        padding-top:0;
    }
    
}
/* Table  */
@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart{
        width: 80px;
        text-align: right;
    }
}
/* Mobie */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
    .pagination-item{
        margin: 0;
    }
    .pagination-item-link{
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .home-product{
        margin: 0 4px;
    }
    .mobile-category{
        display: block;
    }
    
}
